* {
  padding: 0;
  margin: 0;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  width: 600px;
  height: 400px;
}
.slider__container {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}
/* 버튼 */
.slider__buttons > * {
  top: 50%;
  cursor: pointer;
  position: absolute;
  font-size: 1.5rem;
  z-index: 9;
}
.slider__button:first-child {
  left: 0;
  margin-left: 10px;
}
.slider__button:last-child {
  right: 0;
  margin-right: 10px;
}
/* 이미지 */
.slider__img img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 0;
  transition: opacity .5s ease-out;
}
.slider__img img.active {
  z-index: 1;
  opacity: 1;
}
/* 슬라이더 순서를 나타내는 버튼 */
.slider__now {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  z-index: 999;
}
.box {
  display: inline-block;
  margin: 0 1px;
  width: 5px;
  height: 5px;
  border: 1px solid white;
  border-radius: 100%;
}
.now {
  background: white;
}