body,
html {
  padding: 0;
  margin: 0;
}
.slider {
  width: 100%;
  height: 50vh;
}
.slider__container {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}
.slider__list {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.slider__buttons > * {
  top: 48%;
  cursor: pointer;
}
.slider__button:first-child {
  position: absolute;
  left: 0;
  z-index: 9;
}
.slider__button:last-child {
  position: absolute;
  right: 0;
  z-index: 9;
}

.slider__img img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 0;
  transition: opacity .5s ease-out;
}
.slider__img img.active {
  z-index: 1;
  opacity: 1;
}